<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <style>
            h1 { background-color: grey; color: white}
        </style>
        <h1>{{ title }}</h1>
        <hr>
        <form action="/{{ dest }}" method="POST">
            <p> Member 1 : Name </p>
            <select name="member-1-id">
                {{ drop_down }}
            </select>
            <p> Member 1 : Score </p>
            <input type="number" name="member-1-score" required></input>
            <p> Member 2 : Name </p>
            <select name="member-2-id">\n
                {{ drop_down }}
            </select>
            <p> Member 2 : Score </p>
            <input type="number" name="member-2-score" required></input>
            <p> Match location </p>
            <input type="text" name="match-location" required></input>
            <p> Match date </p>
            <input type="date" name="match-date" required></input>
        <p><input type="submit" value="Submit" /></p>
        </form>
        <hr>
        <p><a href=/>Home</a></p>
        <hr>
    </body>
</html>
