<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <style>
            h1 { background-color: grey; color: white}
        </style>
        <h1>{{ title }}</h1>
        <hr>
        <form action="/{{ dest }}" method="POST">
            <label>Select club member</label>
            <select id="myList" name="myList">
                {{ drop_down }}
            </select>
            <button type="submit">Submit</button>
        </form>
        <hr>
        <p><a href=/>Home</a></p>
        <hr>
    </body>
</html>
