<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <style>
            h1 { background-color: grey; color: white}
        </style>
        <h1>{{ title }}</h1>
        <hr>
        <form action="/member_add_db" method="POST">
            <p> Name </p>
            <input type="text" name="name" required> (required)</input>
            <p> Telephone number </p>
            <input type="tel" name="tel"></input>
            <p><input type="submit" value="Submit" /></p>
        </form>
        <hr>
        <p><a href=/>Home</a></p>
        <hr>
    </body>
</html>
