<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <style>
            h1 { background-color: grey; color: white}
        </style>
        <h1>{{ title }}</h1>
        {{ desc }}
        <hr>
        <code>
        {{ table }}
        </code>
        <hr>
        <p><a href=/>Home</a></p>
        <hr>
    </body>
</html>
